.profile__add-button {
    width: 150px;
    height: 50px;
    padding: 0;
    background-color: black;
    background-image: url(../../../images/add-button.svg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-size: cover;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        width: 282px;
        margin: 0 auto;
        height: 50px;
        background-image: url(../../../images/Vector.svg);
        background-size: 16px 16px;
    }
}