.profile__questionnaire {
    max-width: 700px;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 768px) {
    .profile__questionnaire {
        max-width: 300px;
        flex-direction: column;
        margin: 0 auto 36px;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__questionnaire {
        max-width: 282px;
        flex-direction: column;
    }
}