.profile__info {
    margin: 0;
    max-width: px;
    display: grid;
    grid-template-rows: max-content min-content;
    grid-template-columns: repeat(2, minmax(min-content, min-content));
    row-gap: 8px;
    column-gap: 13px;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .profile__about {
        max-width: 282px;
        grid-template-rows: 26px 17px;
        margin: 26px auto 0;
        box-sizing: border-box;
        row-gap: 14;
    }
}