.profile__info {
    margin: 0;
    margin-left: 30px;
    margin: 0 0 0 30px;
    padding: 0;
    max-width: 500px;
    display: grid;
    grid-template-rows: max-content min-content;
    grid-template-columns: max-content min-content;
    row-gap: 16px;
    column-gap: 18px;
}

@media screen and (max-width: 768px) {
    .profile__about {
        max-width: 282px;
        grid-template-rows: 26px 17px;
        margin: 26px auto 0;
        box-sizing: border-box;
        row-gap: 14;
    }
}